* {
  box-sizing: border-box;
}

.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 13px 10px 19px 1px rgba(0,0,0,0.52);
  -moz-box-shadow: 13px 10px 19px 1px rgba(0,0,0,0.52);
  box-shadow: 13px 10px 19px 1px rgba(0,0,0,0.52);
}

.calendar_picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(#000, 0.2);
  box-sizing: border-box;
}

.calendar_picture   h2 {
  margin: 0;
}

.calendar_picture h3 {
  margin: 0;
  font-weight: 500;
}

.calendar_picture::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
}

.calendar_date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;

}

.calendar_day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar_number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #262626;
}

.calendar_number_current, .calendar_number_current:hover {
  background-color: #009688;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}

.dateSelect {
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.dateSelect a {

}

.dateSelect:hover {
  background-color: lightgrey;
  text-decoration: none;
  color: white;
}

.schedule_confirm {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.schedule_confirm_cont {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

}

.schedule_confirm_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.schedule_confirm_close:hover, .schedule_confirm_close:focus {
  color: 000;
  text-decoration: none;
  cursor: pointer;
}

.column {
  float: left;
}

.left {
  width: 70%;
  text-align: center;
  margin-top: 20%;

}

.left form, .form2 {
  width: 50%;
  margin-left: 25%;
  border-radius: 30px;
  -webkit-box-shadow: 13px 10px 19px 1px rgba(0,0,0,0.52);
  -moz-box-shadow: 13px 10px 19px 1px rgba(0,0,0,0.52);
  box-shadow: 13px 10px 19px 1px rgba(0,0,0,0.52);
  padding: 20px;
}
.left form input {
  margin: 10px;
}
.right {
  width: 30%;
}

.right img {
  height: auto;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .left form {
    margin-left:0;
    width: 100%;
    margin-bottom: 40px;
  }
}
