.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.calendar_picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(#000, 0.2);
  box-sizing: border-box;
}

.calendar_picture   h2 {
  margin: 0;
}

.calendar_picture h3 {
  margin: 0;
  font-weight: 500;
}

.calendar_picture::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
}

.calendar_date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.calendar_day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar_number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #262626;
}

.calendar_number_current, .calendar_number_current:hover {
  background-color: #009688;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}
