{% extends "installers/layout.html" %}
  {% block body %}


  {% if user.installer == True %}
  <div class="cent_2">


    {% if dc %}
    <h1>Your work Schedule:</h1>
    {% for appt in dc %}
      You have an installation on {{ appt.day_data }} with user {{ appt.customer }}
      <br>
      <a href="#"id="installationComplete">Installation Completed?</a>
      <hr style="max-width: 300px;">
      <div class="schedule_confirm">
        <div class="schedule_confirm_cont">
          <span class="schedule_confirm_close">&times;</span>
          <p id=confirmationText></p>
          <form class="" action="" method="post">
            <input type="submit" name="" value="Submit">
            <input type="hidden" name="customer" value="{{ appt.customer }}">
            {% csrf_token %}
          </form>
        </div>
      </div>
    {% endfor %}
    {% else %}
    No upcoming appointments
    {% endif %}
    </div>

  {% else %}
    <div class="cont">
      <div class="column left">
        <div class="form2">
          <h1>Hello, {{ request.user }}</h1>

          <h2>Scheduled Projects:</h2>
          <h4>{{ msg }}</h4>
          {% if appointment_check == True %}
            <a href="{% url 'appointments' %}">{{ projects }}</a>
          {% elif appointment_check == False %}
            {{ projects }}
          {% endif %}
          <br>
          <a href="{% url 'schedule' %}">Schedule a project here!</a>
        </div>
      </div>
      <div class="column right">
        <img src="static/installers/pic2.jpg" alt="">
      </div>
    </div>
  {% endif %}
{% endblock %}
